USE [master]
GO
/****** Object:  Database [IronWillBD]    Script Date: 17/02/2021 23:55:12 ******/
CREATE DATABASE [IronWillBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IronWillBD', FILENAME = N'/var/opt/mssql/data/IronWillBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IronWillBD_log', FILENAME = N'/var/opt/mssql/data/IronWillBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IronWillBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IronWillBD]
GO
/****** Object:  Table [dbo].[Agenda]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenda](
	[IdAgenda] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTipoEjercicio] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Hora] [nvarchar](9) NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Agenda] PRIMARY KEY CLUSTERED 
(
	[IdAgenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Clinico]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Clinico](
	[IdHistorialClinico] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Observacion] [nvarchar](max) NOT NULL,
	[Peso] [decimal](3, 2) NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Historial_Clinico] PRIMARY KEY CLUSTERED 
(
	[IdHistorialClinico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil_Profesional_Instructor]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Profesional_Instructor](
	[IdPerfilProfesionalInst] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Perfil_Profesional] [nvarchar](max) NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Perfil_Profesional_Instructor] PRIMARY KEY CLUSTERED 
(
	[IdPerfilProfesionalInst] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recomendaciones]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recomendaciones](
	[IdRecomendacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Observacion] [nvarchar](max) NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Recomendaciones] PRIMARY KEY CLUSTERED 
(
	[IdRecomendacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retos]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retos](
	[IdReto] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Reto] [nvarchar](max) NOT NULL,
	[Peso] [decimal](3, 2) NOT NULL,
	[Tiempo] [nvarchar](10) NOT NULL,
	[Logro] [bit] NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Retos] PRIMARY KEY CLUSTERED 
(
	[IdReto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Ejercicios]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Ejercicios](
	[IdTipoEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Ejercicio] [nvarchar](150) NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Tipos_Ejercicios] PRIMARY KEY CLUSTERED 
(
	[IdTipoEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [nvarchar](1) NOT NULL,
	[Documento] [nvarchar](20) NOT NULL,
	[Nombres] [nvarchar](80) NOT NULL,
	[Apellidos] [nvarchar](80) NULL,
	[Direccion] [nvarchar](120) NOT NULL,
	[Celular] [nvarchar](15) NOT NULL,
	[Correo] [nvarchar](250) NOT NULL,
	[Clave] [nvarchar](max) NULL,
	[Genero] [nvarchar](1) NOT NULL,
	[Fecha_Nacimiento] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Agenda] CHECK CONSTRAINT [FK_Agenda_Usuarios]
GO
ALTER TABLE [dbo].[Historial_Clinico]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Clinico_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Historial_Clinico] CHECK CONSTRAINT [FK_Historial_Clinico_Usuarios]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Rol]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Usuarios]
GO
ALTER TABLE [dbo].[Perfil_Profesional_Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Profesional_Instructor_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Perfil_Profesional_Instructor] CHECK CONSTRAINT [FK_Perfil_Profesional_Instructor_Usuarios]
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD  CONSTRAINT [FK_Recomendaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Recomendaciones] CHECK CONSTRAINT [FK_Recomendaciones_Usuarios]
GO
ALTER TABLE [dbo].[Retos]  WITH CHECK ADD  CONSTRAINT [FK_Retos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Retos] CHECK CONSTRAINT [FK_Retos_Usuarios]
GO
ALTER TABLE [dbo].[Tipos_Ejercicios]  WITH CHECK ADD  CONSTRAINT [FK_Tipos_Ejercicios_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Tipos_Ejercicios] CHECK CONSTRAINT [FK_Tipos_Ejercicios_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteUsuario]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	Descripción: Procedimiento encargado de Actualizar los usuarios en la tabla Usuarios
*/
CREATE PROCEDURE [dbo].[uspDeleteUsuario]
	@IdUsuario int	
AS
BEGIN
SET NOCOUNT ON;
BEGIN 	
BEGIN TRANSACTION
	BEGIN TRY						
		
		DELETE FROM [dbo].[Perfil] WHERE IdUsuario = @IdUsuario
		DELETE FROM [dbo].[Perfil_Profesional_Instructor] WHERE IdUsuario = @IdUsuario
		DELETE FROM [dbo].[Agenda] WHERE IdUsuario = @IdUsuario
		DELETE FROM [dbo].[Historial_Clinico] WHERE IdUsuario = @IdUsuario		
		DELETE FROM [dbo].[Recomendaciones] WHERE IdUsuario = @IdUsuario
		DELETE FROM [dbo].[Retos] WHERE IdUsuario = @IdUsuario
		DELETE FROM [dbo].[Tipos_Ejercicios] WHERE IdUsuario = @IdUsuario
		DELETE FROM [dbo].[Usuarios] WHERE IdUsuario = @IdUsuario

COMMIT TRANSACTION
			SELECT 'success'
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			SELECT ERROR_MESSAGE();
		END CATCH
	END
END
GO
/****** Object:  StoredProcedure [dbo].[UspgetUserByLogin]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UspgetUserByLogin]
	@Correo nvarchar(80),
	@Clave nvarchar(250)
AS
SELECT IdUsuario
,TipoDocumento
,Documento
,Nombres
,Apellidos
,Direccion
,Celular
,Correo
,Clave
,Genero
,Fecha_Nacimiento
,Estado
,Fecha_Creacion FROM [dbo].[Usuarios] WHERE Correo = @Correo AND Clave = @Clave
GO
/****** Object:  StoredProcedure [dbo].[uspInsertUsuario]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Descripción: Procedimiento encargado de registrar los usuarios en la tabla Usuarios
*/
CREATE PROCEDURE [dbo].[uspInsertUsuario]
	@TipoDocumento	nvarchar(1),
	@Documento	nvarchar(20),
	@Nombres	nvarchar(80),
	@Apellidos	nvarchar(80),
	@Direccion	nvarchar(120),
	@Celular	nvarchar(15),
	@Correo	nvarchar(250),
	@Clave	nvarchar(MAX),
	@Genero	nvarchar(1),
	@Fecha_Nacimiento	datetime,
	@Estado	bit
AS
BEGIN
SET NOCOUNT ON;
BEGIN 	
BEGIN TRANSACTION
	BEGIN TRY						
		INSERT INTO [dbo].[Usuarios] (			
			TipoDocumento
			,Documento
			,Nombres
			,Apellidos
			,Direccion
			,Celular
			,Correo
			,Clave
			,Genero
			,Fecha_Nacimiento
			,Estado
			,Fecha_Creacion
		) VALUES (
			@TipoDocumento
			,@Documento
			,@Nombres
			,@Apellidos
			,@Direccion
			,@Celular
			,@Correo
			,@Clave
			,@Genero
			,@Fecha_Nacimiento
			,@Estado
			,GETDATE()
		)		

COMMIT TRANSACTION
			SELECT 'success'
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			SELECT ERROR_MESSAGE();
		END CATCH
	END
END
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateUsuario]    Script Date: 17/02/2021 23:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateUsuario]
	@IdUsuario int,
	@TipoDocumento	nvarchar(1),
	@Documento	nvarchar(20),
	@Nombres	nvarchar(80),
	@Apellidos	nvarchar(80),
	@Direccion	nvarchar(120),
	@Celular	nvarchar(15),
	@Clave nvarchar(max),
	@Correo	nvarchar(250),
	@Genero	nvarchar(1),
	@Fecha_Nacimiento	datetime,
	@Estado	bit
AS
BEGIN
SET NOCOUNT ON;
BEGIN 	
BEGIN TRANSACTION
	BEGIN TRY
		UPDATE [dbo].[Usuarios] SET 		
			TipoDocumento = @TipoDocumento
			,Documento = @Documento
			,Nombres = @Nombres
			,Apellidos = @Apellidos
			,Direccion = @Direccion
			,Celular = @Celular
			,Correo = @Correo
			,Clave = @Clave
			,Genero = @Genero
			,Fecha_Nacimiento = @Fecha_Nacimiento
			,Estado = @Estado
		WHERE IdUsuario = @IdUsuario

COMMIT TRANSACTION
			SELECT 'success'
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			SELECT ERROR_MESSAGE();
		END CATCH
	END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'El IdUsuario pertenece al rol de Instructor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tipos_Ejercicios', @level2type=N'COLUMN',@level2name=N'IdUsuario'
GO
USE [master]
GO
